mat-sidenav-container {height: 100vh;}
mat-card {max-width: 400px;}
mat-card.small {min-width: 400px;}
mat-card img {min-height: 450px; max-height: 450px;}
mat-card-content {min-height: 40px;}
header.label {padding: 4em 0 0}
article {padding-bottom: 1em}
section {max-width: 1500px; margin: auto;}

