<mat-sidenav-container>
  <mat-sidenav>Sidenav</mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    
    <section fxLayout="column">
      <header class="label" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="mat-display-2">Menu</h1>
      </header>
      <div fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="space-around stretch">
        <article *ngFor="let item of menu" fxLayoutAlign.sm="space-around stretch" fxFlex.sm="100%" fxLayoutAlign.gt-sm="space-around stretch" fxFlex.gt-sm="30%">
          <mat-card class="mat-elevation-z4" [ngClass.sm]="{'small': true}">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-subtitle>{{item.category}}</mat-card-subtitle>        
            </mat-card-header>
            <img mat-card-image [src]='"./assets/images/" + item.image' alt="" />
            <mat-card-content>
              <p>
                {{item.description}}
              </p>                    
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>{{item.price}}</button>
            </mat-card-actions>
          </mat-card>        
        </article>
      </div>
    </section>


    <!--
    <div>
      <div class="label" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="mat-display-2">Specialties</h1>
      </div>
      <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.xs="center center" fxLayoutAlign.gt-xs="space-around">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sisig Bangus</mat-card-title>
            <mat-card-subtitle>Seafood</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./assets/images/rekado.jpg" alt="" />
          <mat-card-content>
            <p>
              Masarap malinamnam malasa presyong abot kaya
              Masarap malinamnam malasa presyong abot kaya
              Masarap malinamnam malasa presyong abot kaya
            </p>                    
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>$5.00 / SMALL</button>
            <button mat-button>$10.00 / LARGE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Sisig</mat-card-title>
            <mat-card-subtitle>Pork</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./assets/images/rekado.jpg" alt="" />
          <mat-card-content>
            <p>
              Masarap malinamnam malasa presyong abot kaya
              Masarap malinamnam malasa presyong abot kaya
              Masarap malinamnam malasa presyong abot kaya
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>$5.00 / SMALL</button>
            <button mat-button>$10.00 / LARGE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Bulalo Steak</mat-card-title>
            <mat-card-subtitle>Beef</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./assets/images/rekado.jpg" alt="" />
          <mat-card-content>
            <p>
              Masarap malinamnam malasa presyong abot kaya
              Masarap malinamnam malasa presyong abot kaya
              Masarap malinamnam malasa presyong abot kaya
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>$5.00 / SMALL</button>
            <button mat-button>$10.00 / LARGE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Inasal</mat-card-title>
            <mat-card-subtitle>Chicken</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./assets/images/rekado.jpg" alt="" />
          <mat-card-content>
            <p>
              Masarap malinamnam malasa presyong abot kaya
              Masarap malinamnam malasa presyong abot kaya
              Masarap malinamnam malasa presyong abot kaya
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>$5.00 / SMALL</button>
            <button mat-button>$10.00 / LARGE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    -->

    <!--
    <div class="menu">
      <div class="label" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="mat-display-2">Menu</h1>
      </div>
      <div fxLayout="column" fxLayoutAlign.xs="center center">
        <mat-list fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around">
          <div>
            <div mat-subheader>Veggies</div>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Ginatang Langka </h2>
              <p matLine>
                <span> Langka na may gata </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Chopsuey </h2>
              <p matLine>
                <span> Gulay gulay </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Lumpia </h2>
              <p matLine>
                <span> Gulay gulay na lumpia </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
          </div>
          <div>
            <div mat-subheader>Pork</div>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Lechon Kawali </h2>
              <p matLine>
                <span> Lechon sa kawali </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Adobo </h2>
              <p matLine>
                <span> Adobo </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
          </div>
          <div>
            <div mat-subheader>Beef</div>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Spareribs </h2>
              <p matLine>
                <span> Beef spareribs </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Caldereta </h2>
              <p matLine>
                <span> Beef kaldereta </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
          </div>
          <div>
            <div mat-subheader>Chicken</div>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Fried Chicken </h2>
              <p matLine>
                <span> Chicken fried </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <img matListAvatar src="./assets/images/rekado.jpg" alt="">
              <h2 matLine> Chicken gisantes </h2>
              <p matLine>
                <span> Manok na may gisantes </span>
                <span class="demo-2"> -- $10 </span>
              </p>
            </mat-list-item>
          </div>
        </mat-list>
      </div>
    </div>
    -->

    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


